<h1>Show bookings </h1>

<h3> My Bookings </h3>
<% @my_bookings.each do |booking| %>

    <h5> <%= booking.user.email %> </h5>

    <h5> <%= booking.note %> </h5>

<% end %>


<h3> Other Bookings </h3>
<% @my_jobs.each do |my_jobs| %>
    <% job.bookings.each do |booking| %>

        <h5> <%= booking.user.email %> </h5>

        <h5> <%= booking.note %> </h5>

    <% end %>
<% end %>